## Preprocessing

In [287]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [288]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
# application_df = application_df.drop(columns = ['NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [289]:
# Determine the number of unique values in each column.

for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
INCOME_AMT 9
ASK_AMT 8747
IS_SUCCESSFUL 2

In [290]:
# Look at APPLICATION_TYPE value counts for binning

app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [291]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [292]:
# Look at CLASSIFICATION value counts for binning

classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [293]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts_over1 = classification_counts[classification_counts > 1]
classification_counts_over1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1246        2
C3200        2
C1234        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [294]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list (classification_counts[classification_counts < 20].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      207
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [295]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df,dtype = float)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [296]:
# Split our preprocessed data into our features and target arrays

y = application_df.IS_SUCCESSFUL.values
# y
X = application_df.drop(columns='IS_SUCCESSFUL').values
# X
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [297]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [298]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_1 = 20
hidden_nodes_2 = 30
hidden_nodes_3 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_1, input_dim = number_input_features, activation = 'relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_2, activation = 'tanh'))

# Output layer
# nn.add(tf.keras.layers.Dense(units = hidden_nodes_3, activation = 'sigmoid'))
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_49"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_145 (Dense)           (None, 20)                1140

 dense_146 (Dense)           (None, 30)                630

 dense_147 (Dense)           (None, 1)                 31

=================================================================
Total params: 1,801
Trainable params: 1,801
Non-trainable params: 0
_________________________________________________________________

In [299]:
# Compile the model

nn.compile(loss = 'binary_crossentropy',
           optimizer = 'adam',
           metrics = ['accuracy'])

In [300]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train, epochs = 150)

Epoch 1/150
804/804 [==============================] - 1s 982us/step - loss: 0.5861 - accuracy: 0.7034
Epoch 2/150
804/804 [==============================] - 1s 940us/step - loss: 0.5544 - accuracy: 0.7294
Epoch 3/150
804/804 [==============================] - 1s 934us/step - loss: 0.5512 - accuracy: 0.7290
Epoch 4/150
804/804 [==============================] - 1s 940us/step - loss: 0.5495 - accuracy: 0.7298
Epoch 5/150
804/804 [==============================] - 1s 943us/step - loss: 0.5484 - accuracy: 0.7303
Epoch 6/150
804/804 [==============================] - 1s 933us/step - loss: 0.5474 - accuracy: 0.7317
Epoch 7/150
804/804 [==============================] - 1s 935us/step - loss: 0.5466 - accuracy: 0.7326
Epoch 8/150
804/804 [==============================] - 1s 933us/step - loss: 0.5459 - accuracy: 0.7320
Epoch 9/150
804/804 [==============================] - 1s 952us/step - loss: 0.5450 - accuracy: 0.7326
Epoch 10/150
804/804 [==============================] - 1s 952us/step - loss: 0.5448 - accuracy: 0.7319
Epoch 11/150
804/804 [==============================] - 1s 948us/step - loss: 0.5439 - accuracy: 0.7341
Epoch 12/150
804/804 [==============================] - 1s 938us/step - loss: 0.5437 - accuracy: 0.7332
Epoch 13/150
804/804 [==============================] - 1s 928us/step - loss: 0.5434 - accuracy: 0.7331
Epoch 14/150
804/804 [==============================] - 1s 949us/step - loss: 0.5426 - accuracy: 0.7339
Epoch 15/150
804/804 [==============================] - 1s 968us/step - loss: 0.5427 - accuracy: 0.7326
Epoch 16/150
804/804 [==============================] - 1s 952us/step - loss: 0.5420 - accuracy: 0.7347
Epoch 17/150
804/804 [==============================] - 1s 948us/step - loss: 0.5419 - accuracy: 0.7346
Epoch 18/150
804/804 [==============================] - 1s 943us/step - loss: 0.5415 - accuracy: 0.7343
Epoch 19/150
804/804 [==============================] - 1s 934us/step - loss: 0.5408 - accuracy: 0.7351
Epoch 20/150
804/804 [==============================] - 1s 925us/step - loss: 0.5409 - accuracy: 0.7346
Epoch 21/150
804/804 [==============================] - 1s 940us/step - loss: 0.5407 - accuracy: 0.7351
Epoch 22/150
804/804 [==============================] - 1s 934us/step - loss: 0.5407 - accuracy: 0.7349
Epoch 23/150
804/804 [==============================] - 1s 962us/step - loss: 0.5401 - accuracy: 0.7349
Epoch 24/150
804/804 [==============================] - 1s 978us/step - loss: 0.5402 - accuracy: 0.7342
Epoch 25/150
804/804 [==============================] - 1s 960us/step - loss: 0.5396 - accuracy: 0.7358
Epoch 26/150
804/804 [==============================] - 1s 949us/step - loss: 0.5392 - accuracy: 0.7352
Epoch 27/150
804/804 [==============================] - 1s 969us/step - loss: 0.5397 - accuracy: 0.7354
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7355
Epoch 29/150
804/804 [==============================] - 1s 991us/step - loss: 0.5390 - accuracy: 0.7352
Epoch 30/150
804/804 [==============================] - 1s 938us/step - loss: 0.5388 - accuracy: 0.7373
Epoch 31/150
804/804 [==============================] - 1s 949us/step - loss: 0.5384 - accuracy: 0.7368
Epoch 32/150
804/804 [==============================] - 1s 950us/step - loss: 0.5385 - accuracy: 0.7366
Epoch 33/150
804/804 [==============================] - 1s 961us/step - loss: 0.5384 - accuracy: 0.7371
Epoch 34/150
804/804 [==============================] - 1s 927us/step - loss: 0.5380 - accuracy: 0.7368
Epoch 35/150
804/804 [==============================] - 1s 949us/step - loss: 0.5381 - accuracy: 0.7371
Epoch 36/150
804/804 [==============================] - 1s 941us/step - loss: 0.5373 - accuracy: 0.7367
Epoch 37/150
804/804 [==============================] - 1s 952us/step - loss: 0.5375 - accuracy: 0.7375
Epoch 38/150
804/804 [==============================] - 1s 923us/step - loss: 0.5371 - accuracy: 0.7371
Epoch 39/150
804/804 [==============================] - 1s 949us/step - loss: 0.5374 - accuracy: 0.7381
Epoch 40/150
804/804 [==============================] - 1s 928us/step - loss: 0.5370 - accuracy: 0.7373
Epoch 41/150
804/804 [==============================] - 1s 959us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 42/150
804/804 [==============================] - 1s 941us/step - loss: 0.5369 - accuracy: 0.7365
Epoch 43/150
804/804 [==============================] - 1s 935us/step - loss: 0.5369 - accuracy: 0.7376
Epoch 44/150
804/804 [==============================] - 1s 939us/step - loss: 0.5364 - accuracy: 0.7390
Epoch 45/150
804/804 [==============================] - 1s 951us/step - loss: 0.5361 - accuracy: 0.7385
Epoch 46/150
804/804 [==============================] - 1s 938us/step - loss: 0.5362 - accuracy: 0.7372
Epoch 47/150
804/804 [==============================] - 1s 937us/step - loss: 0.5358 - accuracy: 0.7379
Epoch 48/150
804/804 [==============================] - 1s 922us/step - loss: 0.5359 - accuracy: 0.7380
Epoch 49/150
804/804 [==============================] - 1s 940us/step - loss: 0.5361 - accuracy: 0.7376
Epoch 50/150
804/804 [==============================] - 1s 954us/step - loss: 0.5357 - accuracy: 0.7383
Epoch 51/150
804/804 [==============================] - 1s 958us/step - loss: 0.5361 - accuracy: 0.7369
Epoch 52/150
804/804 [==============================] - 1s 954us/step - loss: 0.5352 - accuracy: 0.7375
Epoch 53/150
804/804 [==============================] - 1s 992us/step - loss: 0.5353 - accuracy: 0.7392
Epoch 54/150
804/804 [==============================] - 1s 948us/step - loss: 0.5351 - accuracy: 0.7385
Epoch 55/150
804/804 [==============================] - 1s 979us/step - loss: 0.5355 - accuracy: 0.7386
Epoch 56/150
804/804 [==============================] - 1s 988us/step - loss: 0.5353 - accuracy: 0.7388
Epoch 57/150
804/804 [==============================] - 1s 985us/step - loss: 0.5349 - accuracy: 0.7375
Epoch 58/150
804/804 [==============================] - 1s 936us/step - loss: 0.5349 - accuracy: 0.7386
Epoch 59/150
804/804 [==============================] - 1s 904us/step - loss: 0.5345 - accuracy: 0.7388
Epoch 60/150
804/804 [==============================] - 1s 927us/step - loss: 0.5349 - accuracy: 0.7374
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7392
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 63/150
804/804 [==============================] - 1s 929us/step - loss: 0.5346 - accuracy: 0.7376
Epoch 64/150
804/804 [==============================] - 1s 931us/step - loss: 0.5340 - accuracy: 0.7393
Epoch 65/150
804/804 [==============================] - 1s 959us/step - loss: 0.5342 - accuracy: 0.7385
Epoch 66/150
804/804 [==============================] - 1s 926us/step - loss: 0.5339 - accuracy: 0.7400
Epoch 67/150
804/804 [==============================] - 1s 906us/step - loss: 0.5340 - accuracy: 0.7387
Epoch 68/150
804/804 [==============================] - 1s 917us/step - loss: 0.5339 - accuracy: 0.7388
Epoch 69/150
804/804 [==============================] - 1s 887us/step - loss: 0.5340 - accuracy: 0.7384
Epoch 70/150
804/804 [==============================] - 1s 894us/step - loss: 0.5343 - accuracy: 0.7387
Epoch 71/150
804/804 [==============================] - 1s 898us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 72/150
804/804 [==============================] - 1s 901us/step - loss: 0.5343 - accuracy: 0.7397
Epoch 73/150
804/804 [==============================] - 1s 903us/step - loss: 0.5336 - accuracy: 0.7378
Epoch 74/150
804/804 [==============================] - 1s 905us/step - loss: 0.5334 - accuracy: 0.7389
Epoch 75/150
804/804 [==============================] - 1s 899us/step - loss: 0.5337 - accuracy: 0.7395
Epoch 76/150
804/804 [==============================] - 1s 897us/step - loss: 0.5334 - accuracy: 0.7393
Epoch 77/150
804/804 [==============================] - 1s 899us/step - loss: 0.5335 - accuracy: 0.7397
Epoch 78/150
804/804 [==============================] - 1s 882us/step - loss: 0.5336 - accuracy: 0.7386
Epoch 79/150
804/804 [==============================] - 1s 904us/step - loss: 0.5330 - accuracy: 0.7401
Epoch 80/150
804/804 [==============================] - 1s 897us/step - loss: 0.5332 - accuracy: 0.7387
Epoch 81/150
804/804 [==============================] - 1s 896us/step - loss: 0.5333 - accuracy: 0.7384
Epoch 82/150
804/804 [==============================] - 1s 887us/step - loss: 0.5331 - accuracy: 0.7396
Epoch 83/150
804/804 [==============================] - 1s 898us/step - loss: 0.5328 - accuracy: 0.7399
Epoch 84/150
804/804 [==============================] - 1s 888us/step - loss: 0.5331 - accuracy: 0.7393
Epoch 85/150
804/804 [==============================] - 1s 903us/step - loss: 0.5330 - accuracy: 0.7394
Epoch 86/150
804/804 [==============================] - 1s 912us/step - loss: 0.5326 - accuracy: 0.7399
Epoch 87/150
804/804 [==============================] - 1s 912us/step - loss: 0.5330 - accuracy: 0.7391
Epoch 88/150
804/804 [==============================] - 1s 984us/step - loss: 0.5325 - accuracy: 0.7395
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 91/150
804/804 [==============================] - 1s 962us/step - loss: 0.5324 - accuracy: 0.7402
Epoch 92/150
804/804 [==============================] - 1s 929us/step - loss: 0.5323 - accuracy: 0.7396
Epoch 93/150
804/804 [==============================] - 1s 970us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 95/150
804/804 [==============================] - 1s 957us/step - loss: 0.5323 - accuracy: 0.7404
Epoch 96/150
804/804 [==============================] - 1s 950us/step - loss: 0.5321 - accuracy: 0.7406
Epoch 97/150
804/804 [==============================] - 1s 902us/step - loss: 0.5320 - accuracy: 0.7406
Epoch 98/150
804/804 [==============================] - 1s 923us/step - loss: 0.5322 - accuracy: 0.7400
Epoch 99/150
804/804 [==============================] - 1s 983us/step - loss: 0.5319 - accuracy: 0.7402
Epoch 100/150
804/804 [==============================] - 1s 951us/step - loss: 0.5325 - accuracy: 0.7390
Epoch 101/150
804/804 [==============================] - 1s 910us/step - loss: 0.5320 - accuracy: 0.7413
Epoch 102/150
804/804 [==============================] - 1s 926us/step - loss: 0.5321 - accuracy: 0.7388
Epoch 103/150
804/804 [==============================] - 1s 920us/step - loss: 0.5320 - accuracy: 0.7401
Epoch 104/150
804/804 [==============================] - 1s 944us/step - loss: 0.5321 - accuracy: 0.7403
Epoch 105/150
804/804 [==============================] - 1s 917us/step - loss: 0.5319 - accuracy: 0.7402
Epoch 106/150
804/804 [==============================] - 1s 898us/step - loss: 0.5318 - accuracy: 0.7404
Epoch 107/150
804/804 [==============================] - 1s 889us/step - loss: 0.5318 - accuracy: 0.7398
Epoch 108/150
804/804 [==============================] - 1s 903us/step - loss: 0.5321 - accuracy: 0.7404
Epoch 109/150
804/804 [==============================] - 1s 887us/step - loss: 0.5319 - accuracy: 0.7402
Epoch 110/150
804/804 [==============================] - 1s 879us/step - loss: 0.5318 - accuracy: 0.7405
Epoch 111/150
804/804 [==============================] - 1s 888us/step - loss: 0.5321 - accuracy: 0.7402
Epoch 112/150
804/804 [==============================] - 1s 901us/step - loss: 0.5316 - accuracy: 0.7413
Epoch 113/150
804/804 [==============================] - 1s 900us/step - loss: 0.5316 - accuracy: 0.7412
Epoch 114/150
804/804 [==============================] - 1s 896us/step - loss: 0.5319 - accuracy: 0.7406
Epoch 115/150
804/804 [==============================] - 1s 884us/step - loss: 0.5317 - accuracy: 0.7411
Epoch 116/150
804/804 [==============================] - 1s 918us/step - loss: 0.5316 - accuracy: 0.7420
Epoch 117/150
804/804 [==============================] - 1s 883us/step - loss: 0.5319 - accuracy: 0.7403
Epoch 118/150
804/804 [==============================] - 1s 888us/step - loss: 0.5313 - accuracy: 0.7410
Epoch 119/150
804/804 [==============================] - 1s 884us/step - loss: 0.5321 - accuracy: 0.7400
Epoch 120/150
804/804 [==============================] - 1s 882us/step - loss: 0.5320 - accuracy: 0.7409
Epoch 121/150
804/804 [==============================] - 1s 882us/step - loss: 0.5316 - accuracy: 0.7391
Epoch 122/150
804/804 [==============================] - 1s 891us/step - loss: 0.5313 - accuracy: 0.7414
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7407
Epoch 124/150
804/804 [==============================] - 1s 998us/step - loss: 0.5312 - accuracy: 0.7409
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7408
Epoch 126/150
804/804 [==============================] - 1s 999us/step - loss: 0.5316 - accuracy: 0.7405
Epoch 127/150
804/804 [==============================] - 1s 944us/step - loss: 0.5314 - accuracy: 0.7397
Epoch 128/150
804/804 [==============================] - 1s 941us/step - loss: 0.5312 - accuracy: 0.7410
Epoch 129/150
804/804 [==============================] - 1s 938us/step - loss: 0.5312 - accuracy: 0.7420
Epoch 130/150
804/804 [==============================] - 1s 939us/step - loss: 0.5311 - accuracy: 0.7417
Epoch 131/150
804/804 [==============================] - 1s 939us/step - loss: 0.5311 - accuracy: 0.7411
Epoch 132/150
804/804 [==============================] - 1s 926us/step - loss: 0.5313 - accuracy: 0.7404
Epoch 133/150
804/804 [==============================] - 1s 912us/step - loss: 0.5311 - accuracy: 0.7409
Epoch 134/150
804/804 [==============================] - 1s 935us/step - loss: 0.5312 - accuracy: 0.7399
Epoch 135/150
804/804 [==============================] - 1s 921us/step - loss: 0.5309 - accuracy: 0.7411
Epoch 136/150
804/804 [==============================] - 1s 919us/step - loss: 0.5310 - accuracy: 0.7417
Epoch 137/150
804/804 [==============================] - 1s 953us/step - loss: 0.5311 - accuracy: 0.7397
Epoch 138/150
804/804 [==============================] - 1s 914us/step - loss: 0.5307 - accuracy: 0.7405
Epoch 139/150
804/804 [==============================] - 1s 906us/step - loss: 0.5313 - accuracy: 0.7409
Epoch 140/150
804/804 [==============================] - 1s 914us/step - loss: 0.5307 - accuracy: 0.7416
Epoch 141/150
804/804 [==============================] - 1s 908us/step - loss: 0.5310 - accuracy: 0.7406
Epoch 142/150
804/804 [==============================] - 1s 918us/step - loss: 0.5307 - accuracy: 0.7412
Epoch 143/150
804/804 [==============================] - 1s 928us/step - loss: 0.5312 - accuracy: 0.7410
Epoch 144/150
804/804 [==============================] - 1s 919us/step - loss: 0.5308 - accuracy: 0.7412
Epoch 145/150
804/804 [==============================] - 1s 928us/step - loss: 0.5309 - accuracy: 0.7400
Epoch 146/150
804/804 [==============================] - 1s 922us/step - loss: 0.5307 - accuracy: 0.7415
Epoch 147/150
804/804 [==============================] - 1s 930us/step - loss: 0.5309 - accuracy: 0.7413
Epoch 148/150
804/804 [==============================] - 1s 897us/step - loss: 0.5308 - accuracy: 0.7416
Epoch 149/150
804/804 [==============================] - 1s 908us/step - loss: 0.5305 - accuracy: 0.7409
Epoch 150/150
804/804 [==============================] - 1s 922us/step - loss: 0.5306 - accuracy: 0.7414

In [301]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5532 - accuracy: 0.7299 - 224ms/epoch - 836us/step
Loss: 0.5531549453735352, Accuracy: 0.729912519454956

In [308]:
# Export our model to HDF5 file